.btn-app {
    border-radius: 3px;
    position: relative;
    padding: 10px;
    margin: 0 0 10px 10px;
    min-width: 110px;
    height: 60px;
    text-align: center;
    color: #0088cc;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 15px;
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.btn-app:hover{
    background: #3c8dbc;
    color: #fff;
    border-color: #0088cc;
}