{% load staticfiles %}
<title>Agricori | Login</title>
<link rel="icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon" />
<link rel="stylesheet" href="{% static 'index/css/login.css' %}">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

<div class="wrapper">
	<div class="container">
		<br><br><br><br><br><br><br><br><br><br>
		<h1></h1>
		
		<h1><img src="{% static 'img/logo.png' %}" width="220px"></h1>

		<form class="form">
			<input id="Usuario" type="text" placeholder="Usuario">
			<input id="Contrasena" type="password" placeholder="Contraseña">
			<button type="submit" id="login-button">Ingreso</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<script src="{% static 'index/js/login.js' %}"></script>
