@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
html{
  height:100%;
}
body{
  text-align:center;
   background:url('../../../../../static/img/cultivo_sumerce.jpg')no-repeat;
  -webkit-background-size: cover;
	-moz-background-size: cover;
  background-size: cover;    
  background-position:50% 50%;
  height:100%;
  font-family: 'Open Sans Condensed', sans-serif;
  
}
body:before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

#menu{
  display: inline-block;
  height:135px;
  width:80%;
  vertical-align: middle;
  white-space: nowrap;
}

#menu li {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    width: 15%;
    height: 135px;
    line-height: 220px;
    margin-right: 1.42857%;
    white-space: nowrap;
    background-position: 50%;
}
.rocket {
background: url('../../../../../static/img/cultivo.png')no-repeat;

margin-left: 1.42857%;
}
.wine{
  background:url('../../../../../static/img/cargamasiva.png')no-repeat;  
}
.burger{
  background:url('../../../../../static/img/mapas.png')no-repeat;
}
.comment{
  background:url('../../../../../static/img/semillas.png')no-repeat;
  
}
.sport{
  background:url('../../../../../static/img/riego.png')no-repeat;
  
}
.earth{
  background:url('../../../../../static/img/jardinera.png')no-repeat;  
}
#menu ul{
  position:relative;
}

#menu ul:after{
  content:"";
  display:block;
  clear:both;
}

#menu li:after {
  content: "";
  width: 9.5238%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -9.5238%;
}

.rocket:before {
  content: "";
  width: 10.5238%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -9.5238%;

border-radius: 5px 0px 0px 5px;
}
.earth:after{
  border-radius:0px 5px 5px 0px;
}



@media only screen and  (min-width: 100px)  {
  #menu a{
    color:black;
    font-size: 10px;
    text-decoration:none;
    display:block;
    width:100%;
    height:100%;
    text-shadow: 0 0px 0 #000;
  }  

}

@media only screen and  (min-width: 768px)  {
  #menu a{
    color:black;
    font-size: 20px;
    text-decoration:none;
    display:block;
    width:100%;
    height:100%;
    text-shadow: 0 0px 0 #000;
  }
  
  .top-arrow{
    position:absolute;
    overflow:hidden;
    width:100%;
    height:12px;
    top:13px;
    left:0;
    z-index:2;
  }
  .top-arrow:before{
    content:"";
    position:absolute;
    width:80%;
    height:10px;
    top:-10px;
    left:10%;
    border-radius:20%;
    box-shadow:0 0 10px black;
  }
  .top-arrow:after{
    content:"";
    position:absolute;
    width:0;
    height:0;
    top:0px;
    border-top:8px solid #c39449;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    margin-left:-6px;
    left:50%;
  }
  
  .bottom-arrow{
    position:absolute;
    overflow:hidden;
    width:100%;
    height:12px;
    bottom:17px;
    left:0;
    z-index:2;
  }
  
  .bottom-arrow:before{
    content:"";
    position:absolute;
    width:80%;
    height:10px;
    bottom:-10px;
    left:10%;
    border-radius:20%;
    box-shadow:0 0 10px black;
  }
  
  .bottom-arrow:after{
    content:"";
    position:absolute;
    width:0;
    height:0;
    bottom:0;
    border-bottom:12px solid #c39449;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    margin-left:-8px;
    left:50%;
  }
  .current-back{
    width:100%;
    height:100%;
    position:absolute;
    background:green;
    border-radius:5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.09);
    border-top: 2px solid rgba(255,255,255,0.1);
  }
  .current{
    position:absolute;
    top:10px;
    left:18.42857%;
    margin-left: -49px;
    width:60px;
    height:135px;
    -webkit-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    -moz-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    -o-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    -ms-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    transition: all 400ms cubic-bezier(.16,1.23,.87,1.18);
  }
  .wine:hover ~ .current{
    left: 34.1%;
  }
  .burger:hover ~ .current{
   left: 49.0%;
  }
  .comment:hover ~ .current{  
     left: 64.0%;
  }
  .sport:hover ~ .current{
    left: 79.5%;  
  }
  .earth:hover ~ .current{
    left: 94.9%; 
  }
}

@media only screen and  (min-width: 900px)  {
  #menu a{
    color:black;
    font-size: 20px;
    text-decoration:none;
    display:block;
    width:100%;
    height:100%;
    text-shadow: 0 0px 0 #000;
  }
  
  .top-arrow{
    position:absolute;
    overflow:hidden;
    width:100%;
    height:12px;
    top:13px;
    left:0;
    z-index:2;
  }
  .top-arrow:before{
    content:"";
    position:absolute;
    width:80%;
    height:10px;
    top:-10px;
    left:10%;
    border-radius:20%;
    box-shadow:0 0 10px black;
  }
  .top-arrow:after{
    content:"";
    position:absolute;
    width:0;
    height:0;
    top:0px;
    border-top:8px solid #c39449;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    margin-left:-6px;
    left:50%;
  }
  
  .bottom-arrow{
    position:absolute;
    overflow:hidden;
    width:100%;
    height:12px;
    bottom:17px;
    left:0;
    z-index:2;
  }
  
  .bottom-arrow:before{
    content:"";
    position:absolute;
    width:80%;
    height:10px;
    bottom:-10px;
    left:10%;
    border-radius:20%;
    box-shadow:0 0 10px black;
  }
  
  .bottom-arrow:after{
    content:"";
    position:absolute;
    width:0;
    height:0;
    bottom:0;
    border-bottom:12px solid #c39449;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    margin-left:-8px;
    left:50%;
  }
  .current-back{
    width:100%;
    height:100%;
    position:absolute;
    background:green;
    border-radius:5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.09);
    border-top: 2px solid rgba(255,255,255,0.1);
  }
  .current{
    position:absolute;
    top:10px;
    left:16.42857%;
    margin-left: -49px;
    width:60px;
    height:135px;
    -webkit-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    -moz-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    -o-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    -ms-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    transition: all 400ms cubic-bezier(.16,1.23,.87,1.18);
  }
  .wine:hover ~ .current{
    left: 32.1%;
  }
  .burger:hover ~ .current{
   left: 47.0%;
  }
  .comment:hover ~ .current{  
     left: 62.0%;
  }
  .sport:hover ~ .current{
    left: 77.5%;  
  }
  .earth:hover ~ .current{
    left: 92.9%; 
  }
}



@media only screen and  (min-width: 1281px){
  #menu a{
    color:black;
    font-size: 20px;
    text-decoration:none;
    display:block;
    width:100%;
    height:100%;
    text-shadow: 0 0px 0 #000;
  }  
  .top-arrow{
    position:absolute;
    overflow:hidden;
    width:100%;
    height:12px;
    top:13px;
    left:0;
    z-index:2;
  }
  .top-arrow:before{
    content:"";
    position:absolute;
    width:80%;
    height:10px;
    top:-10px;
    left:10%;
    border-radius:20%;
    box-shadow:0 0 10px black;
  }
  .top-arrow:after{
    content:"";
    position:absolute;
    width:0;
    height:0;
    top:0px;
    border-top:8px solid #c39449;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    margin-left:-6px;
    left:50%;
  }
  
  .bottom-arrow{
    position:absolute;
    overflow:hidden;
    width:100%;
    height:12px;
    bottom:17px;
    left:0;
    z-index:2;
  }
  
  .bottom-arrow:before{
    content:"";
    position:absolute;
    width:80%;
    height:10px;
    bottom:-10px;
    left:10%;
    border-radius:20%;
    box-shadow:0 0 10px black;
  }
  
  .bottom-arrow:after{
    content:"";
    position:absolute;
    width:0;
    height:0;
    bottom:0;
    border-bottom:12px solid #c39449;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    margin-left:-8px;
    left:50%;
  }
  .current-back{
    width:100%;
    height:100%;
    position:absolute;
    background:green;
    border-radius:5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.09);
    border-top: 2px solid rgba(255,255,255,0.1);
  }
  .current{
    position:absolute;
    top:10px;
    left:13.02857%;
    margin-left: -49px;
    width:60px;
    height:135px;
    -webkit-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    -moz-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    -o-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    -ms-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
    transition: all 400ms cubic-bezier(.16,1.23,.87,1.18);
  }
  .wine:hover ~ .current{
    left: 28.7%;
  }
  .burger:hover ~ .current{
   left: 45.0%;
  }
  .comment:hover ~ .current{  
     left: 61.0%;
  }
  .sport:hover ~ .current{
    left: 77%;  
  }
  .earth:hover ~ .current{
    left: 92.9%; 
  }  
}